.chat-container {
  display: flex;
  height: calc(100vh - 70px);
  background: var(--bg-primary);
  box-sizing: border-box;
  overflow: hidden;
}

.chat-container > :first-child {
  flex: 0 0 350px;
  border-right: 1px solid var(--border);
}

.chat-container > :last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .chat-container {
    flex-direction: column;
    height: calc(100vh - 70px);
  }

  .chat-container > :first-child,
  .chat-container > :last-child {
    flex: none;
  }
  
  .chat-container > :first-child {
    height: 40%;
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
  
  .chat-container > :last-child {
    height: 60%;
  }
}
